
.global-loaderr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    flex-direction: column;
  }
  
 
  .spinner {
    width: 160px;
    height: 160px;
    border: 16px solid #e0e0e0;
    border-top: 16px solid  #046271; 
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    margin-bottom: 20px;
  }


  .whatsapp {
    position: fixed;
    bottom: 42px;
    right: 18px;
    font-weight: bold;
    z-index: 99999999999999;
}
.whatsapp a svg {
  color: #fff;
  margin: 0px !important;
  height: 34px;
  width: 34px;
}
.whatsapp a {
  background: #079d07;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}
  .navbar_section_second ul li{
    padding-bottom:10px ;
  }
  
  


  
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-text {
    font-size: 30px;
    color: #046271;
    font-weight: bold;
    text-align: center;
    font-family: 'Comic Sans MS', cursive; 
    animation: text-blink 2s infinite;
  }
  
  
  @keyframes text-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  